/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--gray-bg-headings-btns);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* custom properties */
:root {
  /* Primary */
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --gray-bg-headings-btns: hsl(0, 0%, 95%);
}
/* centering */
.section {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}
/* card styling */
.section__card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
/* item card styling */
.section__card--item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Lexend Deca";
}
.section__card--item picture,
h2,
p,
button {
  margin: 1rem 0;
}
.section__card--item h2 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  font-size: 2.3rem;
  text-transform: uppercase;
  color: var(--gray-bg-headings-btns);
}
.section__card--item p {
  color: var(--white-paragraphs);
}
.section__card--item button {
  background-color: var(--gray-bg-headings-btns);
  border: 0;
  border-radius: 30px;
  width: 60%;
  height: 3rem;
}
/* special styling */
.item-sedans {
  background-color: var(--orange);
}
.item-sedans button {
  color: var(--orange);
}
.item-suvs {
  background-color: var(--cyan);
}
.item-suvs button {
  color: var(--cyan);
}
.item-luxury {
  background-color: var(--dark-cyan);
}
.item-luxury button {
  color: var(--dark-cyan);
}
/* media query */
@media (min-width: 1000px) {
  .section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section__card {
    flex-direction: row;
    width: 55rem;
  }
  .section__card--item button {
    margin-top: 5rem;
  }
}
/* hover */
.item-sedans button:hover {
  cursor: pointer;
  color: var(--gray-bg-headings-btns);
  background-color: var(--orange);
  border: 2px solid var(--gray-bg-headings-btns);
}
.item-sedans button:hover {
  cursor: pointer;
  color: var(--gray-bg-headings-btns);
  background-color: var(--orange);
  border: 2px solid var(--gray-bg-headings-btns);
}
.item-suvs button:hover {
  cursor: pointer;
  color: var(--gray-bg-headings-btns);
  background-color: var(--cyan);
  border: 2px solid var(--gray-bg-headings-btns);
}
.item-luxury button:hover {
  cursor: pointer;
  color: var(--gray-bg-headings-btns);
  background-color: var(--dark-cyan);
  border: 2px solid var(--gray-bg-headings-btns);
}
